[2019-01-29 09:00] volkanbicer opened #42 "Carthage support"
When I tried to download sdk via [carthage](https://github.com/Carthage/Carthage), project itself failed to compile.

[code]

[2019-01-30 01:51] tapashmajumder commented on #42
Should be fixed with release 6.0.5. Thanks!

[2019-01-30 01:51] #42 closed

[2019-02-08 09:56] vrutberg opened #52 "Callback after in-app messages have finished displaying, even if there are no in-app messages"
Hi,

I'm working to integrate this SDK in our app and I would like to have some more fine-grained feedback from the SDK on when in-app messages have finished displaying.

My use-case is this: We have a series of modal pop-ups in the app that may or may not display when the user logs in. We want to avoid displaying these modal pop-ups on top of each other, so each modal fires a callback when it is

[2019-02-08 19:08] tapashmajumder commented on #52
We are currently working on a big revamp of in-app messages. Please check out the 'in-app messages' section of README.md for new changes to in-app.

We are ready to roll out a beta version of in-app messages which will take care of this and much more. Would you be interested in that?

[2019-02-11 08:57] vrutberg commented on #52
Yeah, that would be great. How do I access the beta version?

[2019-02-11 22:42] tapashmajumder commented on #52
@vrutberg Use tag 6.1.0-beta1 from Github in your app. Sample Podfile is below

[code]

[2019-02-11 22:45] tapashmajumder commented on #52
@vrutberg If you send me your email address to tapash at iterable dot com I can add you to our Slack channel for beta feedback etc.

[2019-02-12 15:22] vrutberg commented on #52
Great. I'm using Carthage but the setup should be similar. I will try it out and keep you posted!

[2019-02-13 10:18] vrutberg commented on #52
Migrating to the beta version seems quite straight-forward. Just as a sanity check, could you verify that this method of displaying in-app messages looks good to you?

[code]

The idea is that we want to show one in-app message at a time. Please note that I'm also setting the `inAppDelegate` on the `IterableConfig` object and returning `.skip` in its delegate method.

[2019-02-13 19:43] tapashmajumder commented on #52
Yes this looks great.

You may also want to consider using IterableCustomActionDelegate or IterableURLDelegate to handle clicks in your in-app instead of the completionHandler. See here https://github.com/iterable/swift-sdk#when-user-clicks-a-buttonlink-in-the-in-app-message

[2019-02-14 10:04] vrutberg commented on #52
Great! Alright, thanks for the tip. I will look into that.

Do you have any expected release date for the new version?

[2019-02-14 23:52] tapashmajumder commented on #52
Depends on whether we find any serious bugs in our beta. Hopefully in a few weeks.

[2019-02-19 22:24] tapashmajumder commented on #52
I am going to close this issue now since it is taken care of in the beta release.

[2019-02-27 21:45] #52 closed

[2019-03-07 19:06] gbrixey opened #60 "Suggestion: Add Carthage compatibility badge to README"
[![Carthage compatible](https://img.shields.io/badge/Carthage-compatible-4BC51D.svg?style=flat)](https://github.com/Carthage/Carthage)
[code]

[2019-03-12 00:29] tapashmajumder commented on #60
We will looking into this soon.

[2019-03-26 15:42] ctscoville opened #63 "v6.0.6 fails to build with latest XCode v10.2 (10E125)"
I updated to the latest XCode release version 10.2 (10E125) today, and we're getting some build errors from the `Iterable-iOS-SDK` pod (v6.0.6) now when we build our project.  Can you get out a new release that fixes these errors?

It looks like the compiler is flagging the typedefs created in the IterableConstants.h file.  Since one of those has the _Nullable type applied to it, it expects that a

[2019-03-26 20:58] tapashmajumder commented on #63
Thanks for bringing this to our attention. We are taking a look at this issue. We expect to release a new version by the end of this week.

[2019-03-27 21:05] tapashmajumder commented on #63
We are only seeing warnings and not errors for the issue that you mention. Maybe you have “Treat Warnings as Errors” flag set. We are still hoping to release a new version soon.

[2019-03-27 21:26] ctscoville commented on #63
Ah, you're correct we have that set. Thanks for looking into it.  It's not blocking us, but glad to hear you may clear up those warnings in a new release. Thanks!

[2019-03-28 23:57] mlchild commented on #63
Having this issue if compiled via carthage as well

[2019-03-28 23:58] tapashmajumder commented on #63
We will be releasing a version to address this soon.

[2019-03-29 22:00] tapashmajumder commented on #63
Just released 6.0.7. It should take care of the warnings.

[2019-03-29 22:00] #63 closed

[2019-04-02 18:39] gbrixey opened #69 "Carthage cannot build version 6.0.7 on Xcode 10.2"
Carthage cannot build the latest version of the Iterable framework due to an archiving issue. Here is the Carthage log:

[code]

Perhaps the `host-app` target should not be part of the Archive step for the swift-sdk scheme.

[2019-04-02 18:43] tapashmajumder commented on #69
@gbrixey  Were you able to build the previous version of the SDK? I can't think of why this version would stop working.

[2019-04-02 19:04] gbrixey commented on #69
I think it is a new issue with Xcode 10.2

[2019-04-02 19:07] tapashmajumder commented on #69
Thanks! We will release a version with your fix soon!

[2019-04-02 23:44] #69 closed

[2019-04-03 00:45] tapashmajumder commented on #69
Please let us know if this worked. In my local project I was able to remove the error but I didn't see anything in the Carthage/build folder though.

[2019-04-03 14:10] gbrixey commented on #69
@tapashmajumder Yes, it's working for me now. Thank you! 🙏

[2019-04-05 01:26] mlchild opened #73 "Bitcode not working for Archive"
Issue archiving with bitcode (for both main framework and extensions):

ld: bitcode bundle could not be generated because '...../Frameworks/IterableAppExtensions.framework/IterableAppExtensions' was built without full bitcode. All frameworks and dylibs for bitcode must be generated from Xcode Archive or Install build file '...../Frameworks/IterableAppExtensions.framework/IterableAppExtensions' for

[2019-04-05 01:40] tapashmajumder commented on #73
Can you please list steps to repro this issue?

[2019-04-05 01:43] mlchild commented on #73
Download frameworks from "releases" page on github
Drag frameworks into xcode (as instructed, embedded binaries etc)
Build in development mode, everything works fine
Archive for iOS app store distributions (with Bitcode enabled)
See above error

[2019-04-05 01:50] tapashmajumder commented on #73
Thanks. We will take a look at this issue. In the meantime would you be able to try Cocoapods or Carthage?

[2019-04-05 01:52] mlchild commented on #73
Yeah, will try Carthage

On Thu, Apr 4 2019 at 6:50 PM, < notifications@github.com > wrote:

[2019-04-05 19:18] tapashmajumder commented on #73
I have attached different files to the release. Can you please check if this solves the problem?

[2019-04-19 02:55] irtemed88 opened #79 "v6.0.8 release only compiles when targeting device platform (not simulators)"
I upgraded my version of Iterable from v6.0.6 to v6.0.8 and found the newest version wasn't compiling when targeting the iOS simulator. The error message Xcode provides is a bit misleading indicating the compiler can't find any symbols that are part of Iterable's SDK.

After investigation, in v6.0.8 each framework's `*-Swift.h` file only the device platform is targeted (there's an `elif defined(..

[2019-04-19 03:37] tapashmajumder commented on #79
Thanks for bringing this to our attention. We will take a look ASAP.

[2019-04-23 21:55] tapashmajumder commented on #79
I don't seem to be having any issues with it. Can you please list steps to repro? How are just dragging and dropping the file from `releases` or are you using Cocoapods/Carthage?. If possible, please include your sample app.

[2019-04-23 22:33] tapashmajumder commented on #73
I have attached new binary files to the `6.0.8` version release and I have validated that archiving is working using these binaries. I am closing this issue. Please reopen if the issue is not resolved for you.

[2019-04-23 22:33] #73 closed

[2019-04-24 10:11] tolgaarikan commented on #79
Hey @tapashmajumder, we have the same problem. Yes, we are adding framework files from releases directly to our project. Sorry, I really don't have time for creating a sample app but this problem is keeping us from updating to swift 5, would really appreciate a fix.

[2019-04-24 17:38] tapashmajumder commented on #79
Hi @tolgaarikan I have added new zip files to the 6.0.8 release yesterday (2019-04-23). Can you please try those and let us know if it worked?
Also, I understand that you may not have time to create sample project. Can you please copy/paste or attach screenshot of error you are seeing? Thanks!

[2019-04-25 12:32] ArtemMysik commented on #79
Hi @tapashmajumder, I work with @tolgaarikan . We use .framework. The error when building for simulator: `Cannot find protocol declaration for 'IterableURLDelegate'` in **ProjectName-Swift.h** file

[2019-04-25 22:09] irtemed88 commented on #79
@ArtemMysik - This is the same issue I was facing. Have you tried following the instructions I outlined in my previous post?

[2019-04-25 22:42] tapashmajumder commented on #79
@irtemed88 I am trying to first reproduce the problem and I am not able to repro this. Please note that I have attached IterableSDK.zip just two days ago. The previous one was not right.

@ArtemMysik Here is my sample code and it is working as expected.
[code]

[2019-04-25 22:45] tapashmajumder commented on #79
@irtemed88 Can you please try with our latest zip file from 2019-04-23 (updated SDK version 6.0.8) and see if you are also seeing any problems?
[IterableSDK.zip](https://github.com/Iterable/swift-sdk/files/3119112/IterableSDK.zip)

[2019-04-30 15:15] PSBT opened #83 "Cocoapods installation not working"
As mentioned in the automatic installation instructions I add the following to my pod file:
`pod 'Iterable-iOS-SDK'`

Then I do:
`pod install`

After that I open the workspace for my project, compile it, and I get the following compilation error:

`Pods/Iterable-iOS-SDK/swift-sdk/IterableSDK.h:19:9: 'IterableSDK/IterableConstants.h' file not found`

Is this a known issue? I'm on Xcode Version 10.1

[2019-04-30 15:22] PSBT commented on #83
From the following link you'll be able to download an empty Xcode project that shows this problem:
https://www.dropbox.com/s/4wilvpi8owrf0li/IterableTest.zip?dl=0

[2019-04-30 17:30] tapash-majumder commented on #83
There is something wrong with your Podfile. I am attaching the Podfile that worked for me. Please also remember to clean everything.
rm -rf Pods
rm -rf Pods.lock
rm -rf IterableTest.xcworkspace/
pod update
pod install

[2019-04-30 17:30] tapash-majumder commented on #83
[code]

[2019-04-30 17:33] PSBT commented on #83
Sorry in the attached project I had forgotten to add `use_frameworks!` to the pod file. After adding that the empty Swift project compiles.

Though I still have the problem in my main project which is Obj-C. In that case how should the pod file look? `use_frameworks!` must be added to the pod file in that case too?

[2019-04-30 18:16] tapash-majumder commented on #83
I have noticed that in the original Profile user_frameworks! was commented out. Are you sure about that? I changed the Podfile as below and it is still working.

[code]

[2019-04-30 18:33] PSBT commented on #83
Yes it was commented that was my mistake. I created that empty project for illustrative purposes only. After uncommented that line the sample project I created compiles.

What I'm saying is that in our real project we can't use `use_frameworks!`. Looks like your pod requires that for the SDK to compile? Can you confirm that?

Is there a way to make it compile via pods without using `use_frameworks

[2019-04-30 18:38] PSBT commented on #83
I'm confused by the fact that your sample Podfile (https://raw.githubusercontent.com/Iterable/swift-sdk/master/sample-apps/swift-sample-app/Podfile) says this:

[code]

We are not using Swift in our project so that must remain commented, right? If we leave it commented then the project doesn't compile (error shown in my first message). If I uncomment it the code that uses other pods from other lib

[2019-04-30 18:53] tapashmajumder commented on #83
Yes, you do need use_frameworks! I am not sure about other pods in other libraries. But I believe there should be a way to include use_frameworks! per target.

Can you create a sample project that reproduces this problem?

If enabling use_frameworks! per target does not work then maybe the best option is to do manual installation of IterableSDK.framework.

[2019-04-30 20:11] PSBT commented on #83
Got it!

It's possible to use `use_frameworks!` per target but apparently not per pod (https://github.com/CocoaPods/CocoaPods/issues/3839).

Yeah so looks our only option is the manual installation.

Thanks!

[2019-04-30 20:11] #83 closed

[2019-04-30 21:19] tapashmajumder commented on #83
Thanks @PSBT. Let us know if you have any issues with manual installation.

[2019-04-30 22:04] PSBT opened #84 "Manual integration not working"
I've followed the manual installation instructions https://github.com/Iterable/swift-sdk#manual-installation).

The project compiles but when trying to run it in the simulator I get:
[code]
The instructions only state two things:

1. Add framework to "embedded binaries" section.
2. Set "Always Embed Swift Standard Libraries" to Yes

What am I missing? I tested with the framework found in IterableS

[2019-04-30 22:15] tapashmajumder commented on #84
This could be related to an MacOS/Xcode issue that some other users are having.

Can you please upgrade to latest MacOS and Xcode 10.2? Also if possible can you please attach a sample project with problem.

[2019-04-30 23:10] PSBT commented on #84
Yes this no longer occurs in Xcode Version 10.2.1 (10E1001). Thanks!

[2019-05-01 21:12] PSBT commented on #84
I'm still having issues. As I previously said, the project now compiles with the manual installation and Xcode version 10.2.1. I can even import the framework successfully:

`@import IterableSDK;`

But when I try to initialize the SDK with:
[code]
Xcode tells me:

What am I missing?

[2019-05-01 21:33] tapashmajumder commented on #79
@irtemed88 @ArtemMysik @tolgaarikan I was able to repro this using objc project. This works fine when using Swift but is a problem when using Objc. I am looking into this. In the meantime can you please confirm that you are using Objc? Thanks!

[2019-05-01 21:36] PSBT commented on #84
Here you can find a single view Xcode project in which I integrated the SDK v6.0.8 manually and that shows the error mentioned above: https://www.dropbox.com/s/yizfigxh2vfy3v3/IterableTest_ManualInstallation.zip?dl=0

[2019-05-01 21:37] tapashmajumder commented on #84
@PSBT You may have helped me repro an issue that others were having :-). It appears that after Xcode 10.2 upgrade, objc projects are having the problem that you are having. I am looking into this.
[related-issue](https://github.com/Iterable/swift-sdk/issues/79l)

This problem seems to be restricted to objc code when using simulators. In the meantime can you please confirm that. your code will comp

[2019-05-01 21:40] PSBT commented on #84
If I don't add:
[code]

Then it compiles in both simulators and device. If I add the code above then it doesn't compile anywhere.

[2019-05-01 21:45] tapashmajumder commented on #84
@PSBT Thank you so much. I have reproduced this issue and I am working on it as mentioned in my previous comment. In the meantime, can you please compile using **real device** and not simulator. That will compile and get you going while I work in the fix.

[2019-05-01 21:46] tapashmajumder commented on #84
Hmm.. it it is compiling on real device for me.

[2019-05-01 22:03] PSBT commented on #84
Sorry! It's also compiling for device for me!

[2019-05-01 22:04] tapashmajumder commented on #84
Great. You have helped me repro an issue. I will keep working on the fix while you work on real device in the meantime.

[2019-05-01 22:05] PSBT commented on #84
Great!

[2019-05-01 23:05] tapashmajumder commented on #84
Can you please try this zip file?
[IterableSDK.zip](https://github.com/Iterable/swift-sdk/files/3136262/IterableSDK.zip)

[2019-05-01 23:18] PSBT commented on #84
Yes. Now it compiles in the simulators!

[2019-05-02 14:57] irtemed88 commented on #79
@tapashmajumder Yes my project was using objc.

[2019-05-02 15:07] ArtemMysik commented on #79
@tapashmajumder Our project is using swift but we have bridging obj-c header for some libs

[2019-05-02 15:31] PSBT commented on #84
When can we expect an official release with this fix? Thanks!

[2019-05-02 18:11] tapashmajumder commented on #84
@PSBT I have added the correct zip files to the release. I have also updated our zip generation scripts.

I am closing this issue. Please reopen if the latest zip does not solve this problem for you. Thanks!

[2019-05-02 18:11] #84 closed

[2019-05-02 18:14] tapashmajumder commented on #79
Thank you @irtemed88 @ArtemMysik. It appears I missed the objc part earlier and wasn't able to repro. Now I have reproduced and fixed the issue on our end. Many many thanks to @irtemed88.

I have attached the correct zip file which will work with objc code in both device/simulator.
I have also fixed our zip generation scripts. I am marking this issue as closed.

[2019-05-02 18:14] #79 closed

[2019-05-03 01:05] PSBT commented on #84
Sorry I don't see a new release in https://github.com/Iterable/swift-sdk/releases.

[2019-05-03 01:24] tapashmajumder commented on #84
It is the same release 6.0.8 [here](https://github.com/Iterable/swift-sdk/releases/tag/6.0.8).

I have just updated the zip files there since there is no code change.

[2019-05-03 17:03] PSBT commented on #84
I see! Tested the zip form 6.0.8 and it compiles both in simulators and devices. Thanks!

[2019-05-07 15:51] BFMarks opened #90 "Type 'IterableHtmlInAppContent' does not conform to protocol 'Decodable'"
[code]
is throwing the error:

`Type 'IterableHtmlInAppContent' does not conform to protocol 'Decodable'`

Looks like the init function needs to be change.  I am on Swift 4 with XCode Version 10.1.  This is for  Iterable-iOS-SDK 6.1.0-beta3.

[2019-05-07 17:40] tapashmajumder commented on #90
Please upgrade to Xcode 10.2.

[2019-05-09 19:40] tapashmajumder commented on #90
Closing. Please reopen if the issue is not fixed.

[2019-05-09 19:40] #90 closed

[2019-05-24 20:08] vbabenkoru commented on #60
Resolved via #105.

[2019-05-24 20:08] #60 closed

[2019-06-18 16:13] georgehadly-marleyspoon opened #114 "Track is not working with the latest release 6.1.0"
The track is not working with the latest SDK 6.1.0: i keep getting failure

### sample Log:
[code]

### Development Environment :
Xcode 10.2 -> iOS 12.3.x, iOS 11.2.x

[2019-06-18 18:45] tapash-majumder commented on #114
Hi @georgehadly-marleyspoon We have not been able to repro this. Can you please have your customer service rep open a ticket for this so we can take a closer look?

[2019-06-19 21:01] roninopf commented on #114
Thank you for following up with a customer service ticket! Closing this as we're now tracking it through there.

[2019-06-19 21:01] #114 closed

[2019-07-25 10:18] wujunyang opened #127 "App in the foreground，Message UI problem"
Hello, I have successfully integrated Iterable-iOS-SDK, but when I tried to send push messages [Message Medium (Push)], if APP was running in the foreground（UIApplicationStateInactive）, it found that the method of calling Iterable had no UI effect, received messages but did not show the UI, does SDK support this kind of display at present?

-(void)application:(UIApplication *)application didReceiv

[2019-07-26 19:32] roninopf commented on #127
Hi @wujunyang, thanks for writing in; hmm, I'm trying to understand the full context of the linked code, but would you be able to file a ticket with your support rep? They may already have the answer you're looking for, and will also know to collect specific information for us to process; the ticket will then be tracked internally so we can schedule and allocate time to it.

In the mean time, I'll

[2019-07-29 01:36] #127 closed

[2019-08-10 23:42] BFMarks opened #134 "Are you going to add this to the docs?"
Would be nice to have complete instructions and it seems like there is something missing to get Action Buttons working.

https://github.com/Iterable/swift-sdk/blob/33d943c450bcc1d6530edae6091f44a3db505a59/notification-extension/ITBNotificationServiceExtension.swift#L20

[2019-08-11 04:12] BFMarks commented on #134
Didn't work because the iphone needed to be updated

[2019-08-11 04:12] #134 closed

[2019-08-15 11:38] ileitch opened #137 "IterableSDK.h:19:9: 'IterableSDK/IterableConstants.h' file not found"
Getting this error when building as a static library. Using e.g `#import IterableConstants.h` works as expected.

Is there something blocking you from converting these remaining bits of ObjC to Swift?

[2019-08-15 15:35] tapashmajumder commented on #137
`typealias` defined in Swift is not supported in Objective C. That is why we are defining typedef in Obj C file. This was quite some time back. We will take a look at this again.

[2019-08-20 16:15] ZmicierBiesau commented on #137
If we use modular headers instead of frameworks, we will easily get this error.
`target 'swift-sample-app' do
  # Comment the next line if you don't want to use dynamic frameworks
 use_modular_headers!

  pod 'Iterable-iOS-SDK'

end`

Will definitely lead us to problems.

[2019-09-04 10:32] tapashmajumder commented on #137
@ileitch We have removed the file IterableConststants.h and moved them to Swift in the branch linked below. Can you please check if this fixes your problem?

[https://github.com/Iterable/swift-sdk/tree/feature/mob-680-cocoapods](url)

You can try this by setting this in your Podfile
`pod 'Iterable-iOS-SDK', :git => 'https://github.com/Iterable/swift-sdk.git', :branch => 'feature/mob-680-cocoapods'

[2019-09-04 10:35] tapashmajumder commented on #137
@ileitch @ZmicierBiesau  By the way this branch listed is just meant for testing please don't use this in production. This is just to test whether this fix works. You may have to fix some compilation problems since this branch contains unreleased code.

[2019-09-04 12:26] ZmicierBiesau commented on #137
@tapashmajumder I've tried your solution, now "missing" error disappeared.
But I'm receiving a new one:
`
Module map file '/Users/user/Library/Developer/Xcode/DerivedData/swift-sample-app-cyslngeklqgnpscugtkxvgregudy/Build/Products/Debug-iphonesimulator/Iterable-iOS-SDK/IterableSDK.modulemap' not found

`

[2019-09-04 15:37] tapashmajumder commented on #137
@ZmicierBiesau Thanks for the update. I think the issue you are seeing may be different than what @ileitch is mentioning. Would you be able to create a small sample project to repro the error you are seeing?

[2019-09-04 15:41] ZmicierBiesau commented on #137
@tapashmajumder yes, this is what I'm doing. I using just an empty project with podfile above.

[2019-09-04 16:07] tapashmajumder commented on #137
@ZmicierBiesau I have just created an empty project and it is working with use_modular_headers!

Which version of Xcode are you using?

[2019-09-06 15:36] ZmicierBiesau commented on #137
@tapashmajumder I just recreated an app and now everything is working. Thank you very much.

[2019-09-06 16:12] ileitch commented on #137
Can confirm that the change now builds successfully.

However, some other change in that branch is causing a warning:
[code]

It looks like the following resources are now being included?

[code]

[2019-09-06 16:23] tapashmajumder commented on #137
@ileitch Are you able to proceed with the warning or is it causing any other problem down the line?

I believe when you are building a static library vis `use_modular_headers!` resources are included by Cocoapods.

Can you please have your Iterable customer service rep open a Jira ticket with relevant details?

[2019-09-06 16:30] ileitch commented on #137
The build completes and the app ran, but I didn't investigate further. I'm currently using this fork as a static library and those resources are not being included.

[2019-09-06 16:57] tapashmajumder commented on #137
@ileitch Thanks for the update. Please feel free to open a Jira ticket so that we can take a look at the issues you are having.

[2019-09-10 16:53] shenck opened #156 "UIWebView deprecated"
As the title states.  Apple will start rejecting apps still using this. Below is the email I received.

[code]

[2019-09-10 17:20] tapashmajumder commented on #156
Thanks for brining this to our notice.

[2019-09-10 19:50] damirstuhec commented on #156
@tapashmajumder what is the timeline of fixing this in your SDK?

[2019-09-10 19:52] tapashmajumder commented on #156
Very soon. In a few days.

[2019-09-16 07:58] vrutberg commented on #156
Has there been any development on this?

[2019-09-16 17:21] tapashmajumder commented on #156
Please give us a few more days. We are planning on fixing a couple of issues with the next release.

[2019-09-17 20:30] tapashmajumder commented on #156
We just released 6.1.1 with a fix for this.

[2019-09-17 20:30] #156 closed

[2019-09-17 20:31] tapashmajumder commented on #137
Just released version 6.1.1. This removes all Objective C files in our SDK. If this does not solve your issues please have your Iterable customer service rep open a Jira ticket. Thanks!

[2019-09-17 20:31] #137 closed

[2019-09-24 18:33] ferrous777 opened #170 "Data to hex conversion not working as expected"
`public extension Data {
    //from: https://stackoverflow.com/questions/39075043/how-to-convert-data-to-hex-string-in-swift
    func hexString() -> String {
        let digits = Array("01234567890abcdef".utf16)

        var chars: [UniChar] = []
        chars.reserveCapacity(count * 2)

        for byte in self {
            chars.append(digits[Int(byte / 16)])
            chars.append(digits[Int

[2019-09-24 18:39] tapashmajumder commented on #170
Aha. If this is true then you may have saved us some headache.

[2019-09-24 18:40] tapashmajumder commented on #170
@ferrous777 Can you please add an example of what is not working?

[2019-09-24 18:48] ferrous777 commented on #170
`▿ 32 bytes
  - count : 32
  ▿ pointer : 0x00000002814a6b90
    - pointerValue : 10759072656
  ▿ bytes : 32 elements
    - 0 : 247
    - 1 : 5
    - 2 : 203
    - 3 : 145
    - 4 : 235
    - 5 : 99
    - 6 : 213
    - 7 : 130
    - 8 : 232
    - 9 : 110
    - 10 : 173
    - 11 : 72
    - 12 : 43
    - 13 : 96
    - 14 : 152
    - 15 : 174
    - 16 : 43
    - 17 : 69
    - 18 : 130
    - 19 : 200

[2019-09-24 18:55] tapashmajumder commented on #170
Thank you. Thank you. Thank you.

[2019-09-24 18:56] tapashmajumder commented on #170
Be ready for an immediate patch. Which SDK version are you using?

[2019-09-24 18:58] ferrous777 commented on #170
we just updated to 6.1.1

[2019-09-24 20:08] tapashmajumder commented on #170
Please update to version 6.1.2. That has your fix.

[2019-09-24 20:08] #170 closed

[2019-09-26 18:47] ambujpunn opened #174 "Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler"
Unable to import the IterableSDK framework on Xcode 11.

Seems like the framework needs to be rebuilt using the latest Xcode 11 (now that it has been released) on the App Store.

[2019-09-26 18:51] tapashmajumder commented on #174
Which version of the SDK are you trying to use? Also are you using Cocoapods or using the SDK files directly.
Please add error message and more details here.

[2019-09-26 19:04] ambujpunn commented on #174
I tried with the latest version `6.1.2`, and installing manually (without pods or carthage). The error message I receive is:
`Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler` when importing the IterableSDK

[2019-09-26 19:07] tapashmajumder commented on #174
Got it. Thanks! We will release a new version shortly with XCode 11. It would probably early next week.

[2019-09-26 19:07] ambujpunn commented on #174
@tapashmajumder thanks! will wait for that 👍

[2019-10-02 05:36] tapashmajumder commented on #174
We have updated the zip files in the release with new binaries Swift 5.1.

[2019-10-02 05:36] #174 closed

[2019-10-21 10:57] vrutberg opened #203 "Ordering of in-app messages"
Hi,

I have a question regarding ordering of in-app messages sent to a user. The docs mention that in-app messages are stored in a queue, which would imply a first in, first out (FIFO) behavior.

Let's say I send three in-app messages to user A, in the following order: `M1`, `M2`, `M3`.

If I then do this: `IterableAPI.inAppManager.getMessages().first`, which message would that be? The one that th

[2019-10-21 17:08] tapashmajumder commented on #203
Hi @vrutberg  The messages should arrive in the order they were sent. So in your case it should be M1. Having said that I remember there being a discussion about it and I believe we fixed the issue. Are you noticing anything different?

If you are seeing a bug, please let us know the version of SDK that you are testing on.

[2019-10-22 07:17] vrutberg commented on #203
Thanks for clarifying @tapashmajumder, that is also what I was expecting. We're seeing different behaviors on our iOS and Android apps -- but it could be because of different implementations in our apps. In the iOS app we manually display the in-app messages using `IterableAPI.inAppManager.getMessages()`, whereas in the Android app we let the SDK handle it for us.

I think we'll manage to sort it

[2019-10-22 07:17] #203 closed

[2019-11-07 21:07] keithbertelsen opened #214 "Use of NoneLogDelegate"
I am trying to understand how I can use `NoneLogDelegate`, so that I can turn Iterable logging off as appropraite. When in my AppDelegate I write

[code]

I get the error

[code]

Is there a different way of initializing an `IterableConfig` object with a `NoneLogDelegate` to avoid this issue?

[2019-11-07 21:48] tapashmajumder commented on #214
`public class MyCustomDelegate: IterableLogDelegate {
    public func log(level _: LogLevel = .info, message _: String) {
        // Do nothing
    }
}
// now set this
iterableConfig.logDelegate = MyCustomDelegate()
`

[2019-11-07 21:56] tapashmajumder commented on #214
[code]

[2019-11-07 21:59] keithbertelsen commented on #214
If that allows me to log nothing, and `NoneLogDelegate` cannot actually be used, why does `NoneLogDelegate` exist, and in particular, why does the documentation for `logDelegate` imply that you can select it (by indicating that it's "out of the box"?

[2019-11-07 22:03] tapashmajumder commented on #214
Yes having this is confusing. We will fix this in future version. For now please proceed with the solution above.

[2019-11-07 22:05] keithbertelsen commented on #214
Okay, thanks :)

[2019-12-05 21:22] roninopf commented on #214
This is fixed with the above PR, and it'll be included in the next SDK release! Thanks for bringing it to our attention. If there's an issue arising from this, feel free to open a new ticket.

[2019-12-05 21:22] #214 closed

[2020-02-13 10:32] rashidbinlatheef opened #260 "Not getting actual universal link"
Consider universal link www.example.com/samplePath.
When we create an email template with  this link, Iterable check for AASA details and creates
mapping links2.example.com/12345 -> www.example.com/samplePath.

On clicking the rewritten link from email, app should be opened and we should get a call back in iterableURLDelegate method with original Url ie www.example.com/samplePath.  As of now getti

[2020-02-13 12:33] rashidbinlatheef commented on #260
checked the code and URLSessionDelegate implementation in IterableDeeplinkManager, not executing redirect link

[2020-02-21 06:44] tapashmajumder commented on #260
@rashidbinlatheef We need more information to debug this issue.

Here the comment from our engineer to you in our Slack channel. "What is the rewritten link URL? Could you send it to me through direct messages (not in this thread)?"

[2020-02-21 15:09] roninopf commented on #260
Ah, we've resolved this as being related to allowing arbitrary loads (HTTP links) in your app, sorry for the confusion!

[2020-02-21 15:09] #260 closed

[2020-02-27 12:30] RolandasRazma opened #269 "please remove `public` from `extension UIColor`"
please remove `public` from `extension UIColor` as you conflicting with other implementations out there

https://github.com/Iterable/swift-sdk/blob/fbd7145400309a1a3ffcfa5400906c148b9ad15b/swift-sdk/Internal/ClassExtensions.swift#L75

[2020-02-28 12:04] ileitch opened #270 "Multiple commands produce Assets.car"
6.2.0 uses `resource` in the podspec, which means this version cannot be used in projects that use static libraries due to a name conflict.

The cocoapods documentation strongly recommends using [resource_bunldes](https://guides.cocoapods.org/syntax/podspec.html#resource_bundles) instead to avoid this.

[2020-02-28 19:08] tapashmajumder commented on #270
@ileitch  Can you please try using Swift Package Manager to import IterableSDK to your project? That should solve the problem with static libraries.

File -> Swift Packages -> https://github.com/Iterable/swift-sdk.git

[2020-02-28 19:19] roninopf commented on #269
Hi @RolandasRazma ! Thanks for writing in. We just released 6.2.1 to fix this. If there's any further issues, please feel free to open a new issue.

[2020-02-28 19:19] #269 closed

[2020-02-28 19:21] ileitch commented on #270
I’m afraid that’s not possible, our project is completely dependent on CocoaPods currently.

[2020-02-28 20:01] tapashmajumder commented on #270
Unless I am missing something, you can still continue to use cocoapods for other dependencies.

Just for IterableSDK you can try Swift package manager. It should probably take less than a minute to check it.

[2020-02-28 20:11] ileitch commented on #270
Sorry, I wasn't clear in my last message. The point I was trying to make is that simply introducing SPM into our workflow isn't a 1 minute thing. We've multiple teams using this project, a pretty complex CI setup and an automated release process. Supporting two package managers isn't really a viable solution for us at this time.

Is there a reason that Iterable can't use a resource bundle like oth

[2020-02-28 20:15] tapashmajumder commented on #270
Thanks! I understand what you are saying now. It will take us some time to validate the solution that you are suggesting. We need to make sure that this change won't break other users who are not using our Pod as a static library.

[2020-02-28 21:35] owattenmaker commented on #270
The workaround I found was in Xcode `File->Workspace Settings` and changing build system to `Legacy Build System`. Ideally this would be fixed as described above, but if you need to push a feature out the door then it will at least get the build passing.

[2020-03-02 23:54] osawhoop opened #272 "LogLevel name conflict with other SDK"
Hello,

It could be possible to change the name of the class LogLevel since we have a conflict with another class in other SDK, we noticed that Google Analytics has defined their log level class as GAILogLevel so I wonder if you could do something similar, since we added Iterable SDK we have this conflict with another SDK from Nordic Semiconductor which we have been using since last year, we just

[2020-03-03 11:28] tapashmajumder commented on #272
Hi @osawhoop,

 Can you please try to disambiguate `LogLevel` by setting it as `IterableSDK.Loglevel` or `OtherSDK.LogLevel`?

Also can you please post the error message here?

[2020-03-03 13:40] osawhoop commented on #272
Hi Tapash,
I don't think I can do that since both SDK defined the class LogLevel with the same name so I would need to change the definition of the class in the source code and every time I update the pod I will need to do that. So I wonder if you could do something that Google did with their log class declared as GAILogLevel so maybe you can defined as ITBLLogLevel, we will really appreciate.
Thi

[2020-03-03 14:08] tapashmajumder commented on #272
Hi @osawhoop thanks for your response. I see that you are using an Objective C project so there is no concept of namespace there. We will look into it.

[2020-03-03 14:21] osawhoop opened #275 "IterableHtmlMessageViewController with no content and blocking interaction with the app"
Hello Iterable Team,
I noticed a bug in the app that when a button has no "action" or "url" is empty the SDK add a IterableHtmlMessageViewController on top of the hierarchy blocking any interaction with the app, the user needs to force quit the app in order to continue using it, I wonder if could you add some validation in the SDK to prevent this behavior.

this is an example of the template I'm u

[2020-03-03 14:50] tapashmajumder commented on #275
Sorry our SDK does not support buttons with blank hrefs.

Our UI does not even allow you to save an in-app without at least one valid href link. So, in this case, if you remove the "I'M GOOD" button, you won't be able to save this in-app.

[2020-03-03 14:56] osawhoop commented on #275
oh I did not know about that, thank you!

[2020-03-03 14:56] #275 closed

[2020-03-03 19:39] roninopf commented on #270
Hi @ileitch , thanks for writing in. We've put a fix for this in `6.2.2`. Please feel free to open a new issue if one arises.

[2020-03-03 19:39] #270 closed

[2020-03-03 19:41] roninopf commented on #272
Hi @osawhoop, we've put a fix for this in `6.2.2`; it's been given an Objective-C specific name (`IterableLogLevel`) so it shouldn't be colliding anymore. Please feel free to open a new issue if one arises. Thanks!

[2020-03-03 19:41] #272 closed

[2020-04-24 01:17] kwakueshun opened #295 "How to resolve URL"
Previously our app was able to use
`ITEActionBlock` to get a resolved value of the useractivity's URL and pass it to `getAndTrackDeeplink` for a custom action. This is now deprecated and would break our setup. Is there a way to just retrieve the resolved value when we receive the url inside of app delegate's
`- (BOOL)application:(UIApplication *)application continueUserActivity:(NSUserActivity *)u

[2020-04-24 06:05] tapashmajumder commented on #295
1. In `application:continueUserActivity:...` method add
`IterableAPI.handle(universalLink: "https://xyz")

2. In AppDelegate
set IterableConfig.urlDelegate = self

3. Now you will get a callback with the resolved url

[code]

Please see here for more information
https://github.com/iterable/swift-sdk/#deep-links

[2020-04-24 06:05] #295 closed

[2020-04-28 21:56] nkotula opened #296 "Campaign IDs not correctly decoded"
## Summary
Following up from the discussion over on the Android SDK side of things (see here: [https://github.com/Iterable/iterable-android-sdk/pull/223](https://github.com/Iterable/iterable-android-sdk/pull/223)), it would appear as though the Swift SDK is not adhering to the API contract that `campaignId` is a `long`.

When we receive an In-App message from a campaign, using an SSL proxy I can c

[2020-04-29 05:00] tapashmajumder commented on #296
@nkotula Thanks for brining this to our attention. We will be working on this shortly.

[2020-04-30 16:00] tapashmajumder commented on #296
@nkotula We have a PR pending for changes related to this. Please take a look if you are interested.

https://github.com/Iterable/swift-sdk/pull/297

[2020-05-08 01:11] roninopf commented on #296
Thanks @nkotula , we've just released 6.2.5 which has this fixed. Thanks again for your report and diligence of the quality of the code! Feel free to open a new issue if one arises.

[2020-05-08 01:11] #296 closed

[2020-05-12 17:42] made2k opened #320 "Internal class leakage"
There are quite a few areas inside of `/swift-sdk/internal/` that leak into the public namespace. This causes naming conflicts when iterable is included with a project. One of the biggest and most common (as I can see) is the leak of Promise. These should probably be declared internal, or taken out of the internal directory and documented (though I feel this SDK should not provide tools such as th

[2020-05-12 18:10] roninopf commented on #320
Thanks for reporting! You're completely right, we'll prioritize a fix to make them internal. And you're also accurate on Promise. We intended it to just be used internally until Swift officially release their own version of it (which from my research seems to be near, there definitely are proposals for it).

[2020-05-13 14:11] paulbruneau opened #324 "Unrecognized selector exception on +updateSubscriptions..."
(null)

Hey gang-- after updating to v6.2.4 (and the issue remains in 6.2.5), I am getting the crash above when I try to call the above method.

I note that recently you updated the name of this method to change the `campaignIds` parameter to `campaignId` which is fine, but although the header seems correct (and Xcode compiles my calling of its new name correctly), the method implementation seems

[2020-05-14 20:02] paulbruneau commented on #324
This is embarrassing but I have been informed that we may have two copies of the Iterable SDK in our project, which could be causing this. I wanted to let you know immediately while I investigate. I apologize in advance if this turns out to be the cause.

[2020-05-14 23:27] roninopf commented on #324
No worries! Glad to know the issue might've been found! I've definitely run into similar setup accidents before. Feel free to keep this open in case it is a real issue.

[2020-05-15 14:37] paulbruneau commented on #324
Thank you. I have verified that was our problem. For those interested, we had one copy in our main app, and another copy in a module. I have removed the second copy and changed the search paths to be able to point to the single copy to prevent such errors in the future. Closing issue.

[2020-05-15 14:37] #324 closed

[2020-05-27 08:24] schjonhaug opened #328 "Use of undeclared type UIDevice and UIUserInterfaceIdiom"
When adding Iterable using SPM, I get the following erros when trying to build:

* `Use of undeclared type 'UIUserInterfaceIdiom'`
* `Use of undeclared type 'UIDevice'`

Looks like UIKit import is missing?

I've attached a test project where I just added your package.

<img width="1281" alt="Skjermbilde 2020-05-27 kl  10 21 08" src="https://user-images.githubusercontent.com/84225/82995362-c9d8dc00

[2020-05-27 08:33] tapashmajumder commented on #328
Hi. You might be using an old version of our SDK. I see that we have `import UIKit` in our master branch.

[2020-05-27 08:33] tapashmajumder commented on #328
https://github.com/Iterable/swift-sdk/blob/master/swift-sdk/Internal/DataFieldsHelper.swift

[2020-05-27 08:34] tapashmajumder commented on #328
Please update the version of swift-sdk package you are using.

[2020-05-27 08:36] schjonhaug commented on #328
My code is using version `6.2.7`, but it seems to be very far behind master in terms of commits, see https://github.com/Iterable/swift-sdk/releases/tag/6.2.7. Could you create a new version that has all the latest updates?

[2020-05-27 08:39] tapashmajumder commented on #328
Ah. I see. Yes will do. Thanks!

[2020-05-27 09:14] tapashmajumder commented on #328
In the meantime can you please build against `master` branch (instead of a version) just to check if everything is working?
![Screen Shot 2020-05-27 at 2 42 49 PM](https://user-images.githubusercontent.com/39278182/83000851-8d6ba700-a028-11ea-96c6-7ec4ab56d294.png)

[2020-05-27 09:15] tapashmajumder commented on #328
This is just so that we know things are fine. We will be doing a new release soon.

[2020-05-27 15:13] schjonhaug commented on #328
Yes, it works if I change to `master`. I'll wait for your update then, I prefer to use the versioning system, it gives more control than always getting the latest from master.

[2020-05-27 15:13] #328 closed

[2020-05-27 16:44] roninopf commented on #320
Hey @made2k , we've released 6.2.8 which includes the fix for this issue. Feel free to open a new issue if you run into something new. Thanks again for reporting.

[2020-05-27 16:44] #320 closed

[2020-05-27 16:45] made2k commented on #320
Thanks for checking that out guys, really appreciate it!

[2020-05-28 08:05] tapashmajumder commented on #328
Thanks @schjonhaug  We have released a new version with the fix.

[2020-07-23 01:47] a366376628 opened #352 "ios9 cannot run"
Hi
I see in the documentation that ios9 is supported
But when I added UNNotificationServiceExtension, it cannot run on ios9 devices.
I know that UNNotificationServiceExtension can only be run on devices after ios10, so the documentation does not lack the minimum version support instructions for UNNotificationServiceExtension? Still, there are some special settings for ios9 devices I haven't done r

[2020-07-23 03:51] a366376628 commented on #352
when i use pods add Iterable-iOS-AppExtensions in ios9
show "Specs satisfying the `Iterable-iOS-AppExtensions` dependency were found, but they required a higher minimum deployment target."
So to use this function, does the project have to support ios10 at least?

[2020-08-18 20:29] roninopf commented on #352
Hi @a366376628, sorry I didn't see this before; but yes, `Iterable-iOS-AppExtensions` specifically requires iOS 10 (https://developer.apple.com/documentation/usernotifications/unnotificationserviceextension).

You can have the Notification Service Extension target be iOS 10.0+ with the main app target being 9.0, but I'm not sure what the consequences of that is. I'm guessing that devices on iOS 9.

[2020-08-18 20:29] #352 closed

[2020-09-07 09:28] jtthrillson opened #373 "isGhostPush bool no longer available"
We ignore ghost push notifications to prevent inaccurate data in our internal analytics, but after updating the SDK, getPushMetadata and its isGhostPush var aren't available. Has this been moved or is the only way to get this information parsing the payload manually?

[2020-09-07 11:10] tapashmajumder commented on #373
Hi, It appears this structure is not public. Which SDK have you upgraded from? Are you using ObjC or Swift? Can you please have your customer service rep create a ticket for us with the relevant information?
Thanks!

[2020-09-07 15:17] jtthrillson commented on #373
We're using Swift. We updated from version 6.0.10, where it was accessible:
[code]

[2020-09-08 04:31] tapashmajumder commented on #373
Where are you getting the `launchOptions` from? I am trying to understand better how you are using this. Thanks!

[2020-09-08 10:16] jtthrillson commented on #373
We use the payload from a push notification. The userInfo dictionary from:
`func application(_ application: UIApplication, didReceiveRemoteNotification userInfo: [AnyHashable: Any])`

[2020-09-15 18:35] tapashmajumder commented on #373
Hi. I have created a Jira ticket for this issue. Can you please let us know how urgent this is? So that we can prioritize accordingly. Also, which company do you work for? (So that we can tag the ticket with it).

[2020-09-16 13:35] jtthrillson commented on #373
The issue is not immediately urgent, but important for keeping the dependency up to date. It would be helpful if it is addressed in the next month or so.
I work for UNiDAYS.
Thanks.

[2020-09-16 16:57] tapashmajumder commented on #373
Thanks! We have created a ticket and will be working on this in a couple of weeks or so.

[2020-09-17 03:40] CameronPorter95 opened #380 "Fatal Error because AuthProvider is Missing"
After updating to Xcode 12, on startup now getting this error on iOS 14 devices:
`Fatal error: authProvider is missing: file IterableSDK/ApiClient.swift, line 222`

[2020-09-17 04:32] tapashmajumder commented on #380
We are not seeing this. Can you please provide more details? Which version of SDK are you using? Did the same version of SDK work with iOS 13?

We have seen this error happen when `IterableAPI .initialize` is called multiple times.

[2020-09-18 03:20] CameronPorter95 commented on #380
I've noticed it wasn't happening on 6.1.0 but it is on 6.2.10.
After more attempts I've seen that it still happens on iOS 13 as well as 14

[2020-09-18 05:34] tapashmajumder commented on #380
Please have your customer service rep create a ticket with us. Please include all relevant details in the ticket including:
1. When the crash is happening
2. Is there an easy way to repro this issue on our end? Since we do not have access to your codebase.
3. Are you using Obj-C or Swift? Or are you using React Native SDK.
4. How are you initializing our SDK? That is, `IterableAPI.initialize` code

[2020-09-18 12:39] ir2pid opened #384 "Unable to find a push integration set up for application xx on APNS_SANDBOX"
I get the below error on my xcode console when iterable is initialised with apns token.

`IterableAPIInternal:defaultOnFailure(identifier:):630: registerToken failed:, Unable to find a push integration set up for application xx on APNS_SANDBOX, got response {"msg":"Unable to find a push integration set up for application xx on APNS_SANDBOX","code":"BadParams","params":null}`

[2020-09-21 15:01] tapashmajumder commented on #384
Hi. Please have your customer service representative open a support ticket with all relevant details and steps to repro this issue.

[2020-09-23 06:09] tapashmajumder commented on #384
Please see notes above

[2020-09-23 06:09] #384 closed

[2020-09-23 06:10] tapashmajumder commented on #380
Please see note above

[2020-09-23 06:10] #380 closed

[2020-10-02 21:06] corban123 opened #400 "'shared' is unavailable in application extensions for iOS"
Attempting to use Iterable using a Sub-project (We have a main app, then a "Networking" app), however, when attempting to use Iterable, end up with the error
`'shared' is unavailable in application extensions for iOS: Use view controller based solutions where appropriate instead.`

Was hoping for a fix

[2020-10-03 14:51] ukmunnithan opened #401 "Iteratable Static framework"
Is there any way to get static framework of Iteratable instead of dynamic.
My purpose is to create a static library including iteratable framework.
I could not able to use iteratable dynamic framewok. So please share the static framework

[2020-10-04 01:55] lionserdar opened #402 "Sporadic crashes due to ([UIColor systemBackgroundColor]: unrecognized selector sent to class - Fatal Exception: NSInvalidArgumentException)"
In our application we are using Iterable version 'Iterable-iOS-SDK', '6.2.8' and we are seeing sporadic crashes. We can not reproduce the crash in a certain way. Currently we are not making any calls to [UIColor systemBackgroundColor]. After looking at the stack trace, we feel like Iterable SDK might be causing the issue.

We went over the list of release notes since there are newer version of the

[2020-10-04 08:06] tapashmajumder commented on #400
How are you including Iterable-iOS-SDK in your project? I mean whether you are using Cocoapods or SPM? Have you tried swift package manager?

[2020-10-04 08:14] tapashmajumder commented on #402
Will it be possible for you to get symbolicated crash reports? It is hard to understand the stack trace here. Also, more importantly can you please report which iOS version is causing this crash.

We have the following code using `systemBackgroundColor`. This should not cause any crash since we are doing an OS version check.

`            if #available(iOS 13, *) {
                view.backgroundC

[2020-10-04 16:48] lionserdar commented on #402
We see the crashes in 13.x.x and above, here's the full list.

50% iOS 13.6.8
25% iOS 13.6.7
24% iOS 13.5.1
1% iOS 13.3.1
1% iOS 13.2.1
1% iOS 13.0.1
1% iOS 13.3.0
1% iOS 13.1.1

I don't have anything more than what I have posted above.  The code that you shared makes sense, if that's the case we should not see any crashes regarding [UIColor systemBackgroundColor].

[2020-10-05 05:48] tapashmajumder commented on #402
I think this problem is occurring due to some iOS bug. This can probably be fixed by changing the code to the following. If we make this change will you be able to test it and confirm if the fix worked?

[code]

[2020-10-05 05:58] tapashmajumder commented on #401
Yes. Please use Swift Package Manager. It is really simple and the recommended way to use our SDK.

Here is documentation.
https://support.iterable.com/hc/en-us/articles/360035018152#_2-1-install-the-sdk-with-the-swift-package-manager

[2020-10-05 05:58] #401 closed

[2020-10-05 06:05] tapashmajumder commented on #400
Please see the solution provided here.

https://stackoverflow.com/questions/56840374/iqkeyboardmanagerswift-shared-is-unavailable-use-view-controller-based-soluti/56841689

[2020-10-05 10:53] ukmunnithan commented on #401
@tapashmajumder my purpose is to create a static library by including the Iterable framework?
I tried a lot with the above mentioned link, but after it shows the error message as module IterableSDK not found.
Please help me to create a static library with static IterableSDK framework added in it?

[2020-10-05 14:43] tapashmajumder commented on #401
Hi. Please have your customer service rep for Iterable open an a ticket with us.
That way we can look at the details of your case.
Thanks!

[2020-10-05 15:42] lionserdar commented on #402
We are only seeing the crash in iOS 13.x devices so far ( based on data from Firebase - Crashliytics). If you can make the change we can update the Iterable SDK and include in the next version.

Since we can not reproduce the issue locally we won't be able to verify the fix immediately however once we release the next version of our application I can check the crash and leave a message here

Appre

[2020-10-05 18:03] corban123 commented on #400
@tapashmajumder I'm using Cocoapods.

I've seen warnings that if you set it to NO as per the stackoverflow link that you may be liable to have Apple reject your app.

[2020-10-06 18:41] jpeckner commented on #380
I'm seeing the exact same issue (down to the line number), even though I've verified via `print` statements that my app calls `IterableAPI.initialize(...)` before it calls `IterableAPI.register(...)`. Setup details:

- iOS version: 14.0.1
- Xcode version: 12.0.1
- Iterable SDK version: 6.2.11 (installed via Cocoapods)

It seems like the `authProvider` instance must be getting deallocated before th

[2020-10-06 20:53] jpeckner commented on #380
I had this same issue, and found that use SDK version 6.2.12-beta1 fixed it. Hope it gets fully released soon!

[2020-10-08 16:38] tapashmajumder commented on #400
Do you have any links regarding that? We have not heard about App Store rejection from anyone else.

[2020-10-12 14:33] tapash-majumder commented on #380
Hi @CameronPorter95 @jpeckner we are taking this issue seriously. We would like to understand the problem. But we can't resolve this issue without more details from you. Please see my comment earlier regarding opening a support ticket. I am copying this here again for quick reference.

1. We have seen this issue when `IterableAPI.initialize` is called multiple times. It is supposed to be initializ

[2020-10-12 18:36] lionserdar commented on #402
Do we have any update regarding this issue ?

[2020-10-12 18:44] tapash-majumder commented on #402
We will try to get this resolved soon. Thanks!

[2020-10-12 18:45] tapash-majumder commented on #402
We would release a new version within a couple of weeks at most.

[2020-10-13 02:39] jpeckner commented on #380
Aha, it looks like accidentally calling IterableAPI.initialize() more than once was the issue! Thanks for clearing that up.

Going forward, I’d highly suggest refactoring the SDK so it never intentionally crashes, including this particular fatalError(). I get that reaching that line means that the SDK is in an unusable state, but that doesn’t mean it should decide to take my whole app down with it

[2020-10-13 06:15] tapash-majumder commented on #380
@jpeckner We have already made the fatalError fix you suggested. It will take some time before we release our next version with it.

[2020-10-17 06:26] tapashmajumder commented on #400
We have not heard of any App Store rejection due to this. I am closing this issue. Please contact your Iterable customer service rep and open a Jira ticket if you run into any issue.

[2020-10-17 06:26] #400 closed

[2020-10-20 20:46] roninopf commented on #373
Hi @jtthrillson, the latest release version `6.2.13` opens up `isGhostPush`; this should resolve this. If there are any new concerns, please feel free to open up another ticket/issue!

[2020-10-20 20:46] #373 closed

[2020-10-20 20:47] roninopf commented on #402
Hi @lionserdar, the release version `6.2.13` has the fix for this crash; please feel free to open a new request/issue if you have any further concerns, thanks!

[2020-10-20 20:47] #402 closed

[2020-10-26 16:52] katebertelsen opened #415 "Unhandled Info.plist files in SPM"
We have recently updated our project from using Carthage to using SPM for managing our dependencies.

We started with the Iterable SDK at version 6.2.10, because that's what we used under Carthage. Today, we updated to 6.2.13 and we got the following warning, under `Resolve Package Graph`:

[code]

I went back and checked each version between 6.2.10 and 6.2.13 inclusive and it appears that this wa

[2020-10-27 18:46] roninopf commented on #415
Thanks for the report @katebertelsen ! This definitely sounds like we made a mistake on our end as we of course don't want to introduce warnings due to the SDK. We'll look into this ASAP. Thanks for checking on the versioning, as well.

I'm not aware of any fixes to this on your side, I think what I can best recommend is that you see the version changelog for each of those and judge which you can

[2020-10-28 10:24] ir2pid opened #416 "build error 'UIUserInterfaceIdiom' has no member 'mac'"
getting the below error when building

iOS sdk version 6.1.4
[code]

[2020-10-28 20:13] roninopf commented on #416
Hi @ir2pid, is updating to a later version of the SDK an option? We've fixed it in them.

[2020-10-29 00:48] roninopf commented on #415
Hi @katebertelsen, if you'd like to try out the fix to your report before it's officially merged in, please feel free to point the SPM to the `MOB-2280-exclude-plists` branch! I tested the fix with a newly created sample project, but extra eyes and accountability is appreciated.

[2020-10-30 13:53] katebertelsen commented on #415
It looks like that branch gets rid of the warnings on our side, too! Thanks so much!

[2020-10-30 14:10] paulbruneau opened #420 "Warnings in SDK"
Hello-
For a few versions now, there have been these warnings in the Iterable SDK. If you'd like I can attempt to fix them and create a PR for you, but I thought I would raise the issue here first in case it's already being addressed in an upcoming version. Thank you.

<img width="1194" alt="Screen Shot 2020-10-30 at 10 07 20 AM" src="https://user-images.githubusercontent.com/978400/97714894-1c796

[2020-10-30 18:01] roninopf commented on #415
Great, thank you for the confirmation! We'll get this merged and released ASAP, and I'll update here when it's out.

[2020-10-30 18:15] paulbruneau commented on #420
Thanks @roninopf ! I agree it is something going on with the objc-swift mechanism of Xcode. I will take a shot at it because I'm in the middle of translating a bunch of objc to swift right now so the topic is of interest to me.

[2020-11-04 23:48] roninopf commented on #415
@katebertelsen We've released 6.2.15 which has the fix for this. Thanks again for the report and fix verification! If you have another problem please feel free to open a new issue here or with your CSM.

[2020-11-04 23:48] #415 closed

[2020-11-04 23:49] roninopf commented on #416
Hi @ir2pid I'll close this; if you encounter further problems please feel free to open a new issue here or with your CSM. Thanks!

[2020-11-04 23:49] #416 closed

[2020-11-05 07:45] LeadAssimilator opened #421 "6.x Release SDKs binaries are missing simulator architectures"
The resulting fat universal binary is missing simulator architectures from all frameworks for the past couple of months:
[code]
Note the absence of i386 and x86_64.

scripts/build-target-module-framework.sh is failing to trap/check error codes and lipo is failing with:
[code]

1. proper error checking should be added to all script commands
2. the xcodebuild commandline for iphonesimulator should h

[2020-11-11 00:28] roninopf commented on #421
Hi @LeadAssimilator! Thank you for this report; it's great timing as we've been working on this.

We'll be rolling out the new XCFramework versions first, but your noted concerns about giving people a chance to update their toolchains is what we're trying to accommodate for right now.

If you'd like to try our XCFrameworks (we're successfully generating them, and our internal testing has been succ

[2020-11-11 01:50] roninopf commented on #421
Actually, I've gone ahead and attached the XCFrameworks for our [latest SDK release](https://github.com/Iterable/swift-sdk/releases/tag/6.2.15), as the precursor for future releases.

[2020-11-18 19:06] roninopf commented on #421
Thanks again for your report; we've officially merged in our new SDK generation scripts. We didn't quite get to better error checking; we'll be doing that in a future task.

If you have another report to make, please feel free to open another issue here or with your CSM.

[2020-11-18 19:06] #421 closed

[2020-11-30 15:19] paulbruneau commented on #420
Hi @roninopf --

I haven't been able to figure out a way to remove the warning while keeping the \param. My only suggestion is to remove the \param docs. Maybe they can be still referenced, just not as \param because it does seem like xcode is reading or creating them incorrectly on the objc side. Thanks for looking at this with me.

[2020-12-10 19:53] roninopf commented on #420
Thanks @paulbruneau, we'll put it up on the list, looks easy enough to deal with. Another alternative we're considering is also to rename those fields to match their Objective-C counterparts rather than the Swift names.

[2020-12-10 19:55] paulbruneau commented on #420
Thank you @roninopf that sounds great. I didn't want to suggest that because who wants to go backwards, right? But during these "crossover times" we have to do some interesting things sometimes. Cheers!

[2020-12-17 15:05] skyfoxa opened #434 "Mobile Inbox - In App message presentation style"
Hi, I'm working on Mobile Inbox feature for our app. I have issue with presentation style when user selects a message in the inbox. Can you make **setModalPresentationStyle(for viewController: UIViewController)** in **IterableInboxViewController** public or provide a way how to change the presentation style? I need to use `.overCurrentContext` value

[2021-01-04 16:59] skyfoxa commented on #434
@bradumbaugh @sarkis @gmethvin @mzupan is there anybody who could take a look on this?

[2021-01-04 18:31] roninopf commented on #434
Hi @skyfoxa! Sorry for the late response, we'll put this feature into our next sprint.

[2021-01-05 20:03] roninopf commented on #434
@skyfoxa, we just released 6.2.19 which adds a new variable (`popupModalPresentationStyle`) where you can specify what transition to use instead.

Feel free to write in again if you run into a new issue!

[2021-01-05 20:03] #434 closed

[2021-01-06 09:45] skyfoxa commented on #434
@roninopf Thank you, this works perfectly.

[2021-01-14 19:08] roninopf commented on #420
Hi @paulbruneau, just writing in to say we haven't forgotten about this, we're just looking for a good time to get it done.

[2021-01-14 20:11] paulbruneau commented on #420
Thanks! I understand completely.

But hey, thanks to github's email they sent me about this, I see your name might be Jay Kim. Have you ever heard of anyone else seeing this xcode debug console error when trying to "PO" values? I experienced it quite a bit the other day.

`error: virtual filesystem overlay file ‘/Users/jay.kim/Library/Developer/Xcode/DerivedData/swift-sdk-dcpbsnbeyjmqjqahjaffacrgn

[2021-01-15 19:12] roninopf commented on #420
Yep, that's me! Wow, that's very odd. This is the first report of this we've seen. We'll make a ticket for this, thanks.

[2021-01-15 19:17] paulbruneau commented on #420
Thanks! It could be something weird with Xcode generally, or just my own Xcode or project situation. I have no idea what a "virtual filesystem overlay file" is especially regarding the simulator. I'll let you know if I get any more interesting information about it from my team.

[2021-02-09 21:09] paulbruneau commented on #420
Hi again @roninopf --
Just reporting back that another member of my team is experiencing the debug console problem when trying to "PO" values in there. Should I make a new issue for this? Have you heard from anyone else about this one? Thanks!

[code]

[2021-02-11 23:18] roninopf commented on #420
Hmm, no other reports, but can you make a ticket with your Iterable CSM? I'm thinking this will take a little more digging than can be encompassed in a GitHub issue. :/

[2021-07-22 20:34] paulmesa-paypal opened #488 "'shared' is unavailable: not available on iOS (App Extension) on Xcode 13 beta 3"
Describe the bug
The package is not compiling on Xcode 13 beta 3, shows this error: 'shared' is unavailable: not available on iOS (App Extension) - Use view controller based solutions where appropriate instead

Steps to reproduce the behavior:
Open your project using Xcode 13 beta 3
Clean project
Build Project
See error

Expected behavior:
Package compiles successfully

Versions
Xcode: 13.0 beta 3

[2021-07-22 20:35] paulmesa-paypal commented on #488
Here is an example fix in the braintree iOS sdk https://github.com/braintree/braintree_ios/commit/89912f4cc91cf8b715343623e9572b325cb949ac

[2021-07-22 20:50] tapashmajumder commented on #488
Hi @paulmesa-paypal we officially do not support beta version of Xcode. We only support the latest released version of Xcode.

We will try to take a look at this if this is an easy fix.

[2021-07-22 20:51] tapashmajumder commented on #488
Thank you for all the links provided.

[2021-07-26 14:35] kylebrowning commented on #488
Here's the fix:

https://twitter.com/twannl/status/1415643866414338054

[2021-07-27 16:40] paulmesa-paypal commented on #488
Understandable! @tapashmajumder I do have a fix up on a fork that we've been using for development here https://github.com/Iterable/swift-sdk/compare/master...paulmesa-paypal:pm/july/SteelThread but I havent verified any behavior outside of the small subset that we use

[2021-08-04 15:13] kylebrowning commented on #488
Just want to reiterate up, this makes Xcode beta's impossible to use without removing Iterable entirely.

I know that you dont support betas, but I just want to highlight that this means we can't work on features in coordination with Apple to launch along side the release of iOS 15.

It is extremely debilitating to have to remove Iterable each time we need to work on an iOS 15 feature in anticipat

[2021-08-04 15:27] tapashmajumder commented on #488
@kylebrowning Can you please escalate this issue using your CSM for Iterable? Which company do you work for?
This way we can prioritize this issue with urgency if needed.

[2021-08-04 15:34] kylebrowning commented on #488
The Athletic. I'll raise a new support ticket, thanks.

[2021-08-11 14:43] kylebrowning commented on #488
I opened a ticket but I havn't heard back. At any rate, it looks like Apple has reverted this change in Xcode Beta 5 and Iterable works again!

[2021-08-11 17:01] tapashmajumder commented on #488
Good to hear this @kylebrowning . In the future if you open a ticket and get no response kindly have the item escalated via your CSM. This ticket did not get escalated to engineering.

I will go ahead and close this issue.

[2021-08-11 17:02] kylebrowning commented on #488
Well I wouldn't say this should be closed, Theres a very real chance you'll have to do this in the future.

[2021-08-11 17:04] tapashmajumder commented on #488
OK. Keeping this open.

[2021-08-20 10:26] tungfam opened #498 "Could not find module 'IterableAppExtensions' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator"
When running on a physical device, all works fine.
But when trying to run on simulator using M1 Apple Silicon processor and getting an error:
`Could not find module 'IterableAppExtensions' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator`

Xcode 12.5.1

Side note: my colleague runs on the same Xcode but with Intel processor and it works fine on the simulator.

[2021-08-31 21:21] roninopf commented on #420
Hi @paulbruneau, this is a long time coming, but this issue has finally been resolved with 6.3.3. Thanks for reporting this.

[2021-08-31 21:21] #420 closed

[2021-09-28 17:16] ken-brown commented on #498
Does this problem still occur with Xcode 13?

[2021-10-24 05:42] duyenlv opened #511 "Warning: Could not find IterableDataModel.momd in bundle"
Hi Iterable team,

I am working to update Iterable iOS SDK version to Swift project, At version **6.3.4**, I encounter 2 warnings.
Could you help to resolve them?

Our swift project uses Cocoapods.

[2021-11-09 16:25] jbelkins opened #513 "Iterable SDK hanging my app"
About 1/2 of my production crashes right now are from my app hanging on startup, on this line of code which is called when starting the Iterable SDK:
https://github.com/Iterable/swift-sdk/blob/master/swift-sdk/Internal/IterableAppIntegrationInternal.swift#L29
(I have to add, your spelling of `semaphore` is not inspiring a lot of confidence, lol.)

This affects less than 0.5% of my sessions, but it

[2021-11-09 16:45] jbelkins commented on #513
Apple's documentation for UNUSerNotificationCenter's `getNotificationSettings(completion:)` method says the completion block "_may_ execute [the completion] block on a background thread" (my emphasis on "may".)

I would read this to imply that the completion block may be called on the main thread under some circumstances, which would explain the deadlock that apparently is happening in my app.

In

[2021-11-09 17:00] tapashmajumder commented on #513
@jbelkins Thank you for brining this to our attention. We have not seen this issue locally.

We will greatly appreciate if you can try our solution and provide feedback once we commit this to a branch.

[2021-11-09 17:04] tapashmajumder commented on #513
@jbelkins Agreed. Our code earlier was non-blocking and this code was introduced via due to some other problems. We will be looking at this issue with high priority.

[2021-11-09 17:05] jbelkins commented on #513
Thanks for your prompt attention.  Please tag me when you publish a fix and I'll ship it as soon as I can.
FYI I just filed an Iterable support ticket citing this Github issue as well.

[2021-11-09 19:20] tapashmajumder commented on #511
Closed since the problem is solved.

[2021-11-09 19:20] #511 closed

[2021-11-09 19:22] tapashmajumder commented on #488
This issue should be resolved with SDK version 6.3.4

[2021-11-09 19:22] #488 closed

[2021-11-11 06:05] tapashmajumder commented on #513
Thanks. The ticket is implemented and is being reviewed. We will be publishing a fix soon.

[2021-11-12 16:44] tapashmajumder commented on #513
@jbelkins We have the fix merged in `master` branch. Would you be able to try that?

[2021-11-12 16:53] jbelkins commented on #513
@tapashmajumder Might be middle of next week before I can put up a new app release.  If you can get this tested at your end, you should go ahead & release it.

And if I do ship this fix before it's published, rather than take everything in master, I'll lock to this commit: https://github.com/Iterable/swift-sdk/commit/bccfb50c8a9be06446de340f139a439420f0aa80 Would that work?

[2021-11-12 17:10] tapashmajumder commented on #513
@jbelkins Yes that is the right commit if you can release.

Master currently has a security fix which we would like to release together with other security tickets that we are currently working on. So it may take us some time (probably around 7-10 days or so) to publish our next release.

[2021-11-17 20:06] jbelkins commented on #513
@tapashmajumder Just shipped this fix today.  I should be able to say whether this is fixed in about a week or so.

[2021-11-22 05:54] tapashmajumder commented on #513
Hi @jbelkins Thank you so much. Please keep us updated. We will be releasing a new version with this and a few other fixes in a week or two.

[2021-11-27 15:20] jbelkins commented on #513
I’ve had this fix in production for about 9 days now and no reoccurrences thus far.  I think this can be closed now.

Please let me know when this ships in a stable release.

[2021-11-29 19:05] tapashmajumder commented on #513
@jbelkins That is great news. I will update when we ship this change.

[2021-12-13 19:57] tapashmajumder commented on #513
This issue is fixed in latest release 6.4.0. Closing.

[2021-12-13 19:57] #513 closed

[2021-12-15 16:58] jbelkins opened #523 "Version 6.4.0 fails to compile when archiving"
I am running Xcode 13.2 on both CI and on desktop.

When archiving my app with Iterable iOS SDK version 6.4.0 integrated using Swift Package Manager, either in CI or on desktop, I get the following compile errors (these errors were generated on CircleCI):
[code]

When not archiving (i.e. building on desktop or running tests on CI) the Iterable SDK builds correctly.
In the interim, I have rolled ba

[2021-12-16 04:43] jbelkins commented on #523
I get the same compile errors when building the `IterableSDK` target in this project with "Release" as the selected build configuration.  So that pretty much rules out any config on my end as a cause.

[2021-12-16 04:51] tapashmajumder commented on #523
@jbelkins
Thank you so much for bringing this up.
Would you be able to try the following branch and let us know if this worked?

Branch
`tapash/fix-archive-issue`

[2021-12-16 06:39] jbelkins commented on #523
@tapashmajumder The branch you provided seems to fix the issue.

[2021-12-16 06:46] tapashmajumder commented on #523
👍

[2021-12-16 07:13] tapashmajumder commented on #523
Should be fixed with release 6.4.1. Closing.

[2021-12-16 07:13] #523 closed

[2022-01-20 09:43] carlosfernandez opened #525 "Carthage integration is broken on Release 6.4.1"
The build log reads:
[code]

Xcode 13.2.1
Carthage 0.38

Macbook Pro M1

[2022-01-20 15:18] tapashmajumder commented on #525
Hi. Does it run on a real device, i.e., not a simulator?

[2022-01-27 21:25] DylanBettermannDD opened #528 "bad URL for requests made by IterableSDK"
Hello, I've gone through the [iOS integration guide](https://support.iterable.com/hc/en-us/articles/360035018152-Iterable-s-iOS-SDK-) a few times, and I'm still getting `bad URL` errors for every request that the InterableSDK sends.

Details:
1. Installed via CocoaPods.
2. Version 6.4.1.
3. iOS app supporting 13+.

Here's what I see in the console in Xcode when filtering for "iterable" (some speci

[2022-01-28 14:38] DylanBettermannDD commented on #528
Switched over to SPM distribution as a quick test after seeing #511. That fixed the issue around `Could not find IterableDataModel.momd in bundle` as the issue described, but still getting `bad URL` errors.

[code]

[2022-01-28 15:04] DylanBettermannDD commented on #528
I think I figured it out. I switched over to a cellular connection over my home wifi and stopped getting "bad URL" errors.

The issue was that `Iterable` APIs are on some blocklists used by pi-hole.

<img width="954" alt="image" src="https://user-images.githubusercontent.com/84398686/151570234-90edd594-ec84-4daf-843e-6e66d7d8df60.png">

[2022-01-28 15:15] DylanBettermannDD commented on #528
Closing since this isn't an issue with the SDK.

[2022-02-09 17:09] tapashmajumder commented on #498
I am not seeing this issue on my M1 mac. Can you please contact your Iterable customer service rep and create a ticket for this with more details?

[2022-02-10 22:53] jzeisweiss opened #532 "Version 6.4.1 fails to create simulator artifact when using SPM"
**NOTES**:
- Your derived data must be clean. If you previously built successfully inside Xcode you can not recreate this issue. It only happens on a clean build.
- This is very similar to https://github.com/Iterable/swift-sdk/issues/523 but specifically for simulators.
- Reverting to version 6.3.4 will successfully generate a simulator artifact.
- I'm using Xcode 13.2.1
- I'm using Swift Package

[2022-02-22 17:31] elanovasconcelos opened #533 "is there a way to have access to getInAppShowingWaitTimeInterval value?"
is there a way to have access to getInAppShowingWaitTimeInterval value? I need this value, but I couldn't find a way to get it

[2022-02-23 09:10] tapashmajumder commented on #533
Sorry this is a private value. Can you please explain why you need access to this?

[2022-02-23 20:59] elanovasconcelos commented on #533
There are some moments that I start or stop showing messages, but I need a way to know if it's ok to show again messages respecting the retryInterval.

another question: is there a way to dismiss the current message (IterableInAppHTMLViewController) by code?

[2022-03-10 16:44] mrtnrst commented on #532
This error is because of #524, which adds the `!arch(arm)` into the include. A probable cause is the current iOS SDK-supported version, which builds `armv7`, causing the error in building/archiving. Could the SwiftUI inbox be moved to an example app for users of SwiftUI as opposed to including it in the package itself? Otherwise, I would assume there is still more work to ensure the SDK builds app

[2022-03-10 20:19] mrtnrst opened #537 "SPM - "swift-sdk" causes package name conflicts"
## Overview
The way SPM imports happen uses the "repo name." Because of this, anyone importing this package, at any point, will conflict with other similarly named packages. Unsure of the correct course of action here, as this package is undoubtedly included in plenty of different projects.

I've also created this issue in optimizely/swift-sdk#450

### Example Project
I haven't made an example pro

[2022-03-11 16:19] tapashmajumder commented on #537
@mrtnrst  We will take a look at this soon.Thanks for bringing this to our notice.

[2022-03-11 16:21] tapashmajumder commented on #532
@mrtnrst We will take a look at this soon.

[2022-03-11 16:29] tapashmajumder commented on #533
Hi @elanovasconcelos It will be unidiomatic for us to provide access to this value. This is used internally to schedule next in-app message. If you want to show an in-app manually then you can just show it anytime and don't need to worry about the retry interval.

No, currently there is no way to dismiss the current message by code? Are you thinking about a message that stays on the screen for som

[2022-03-18 16:19] mrtnrst commented on #537
@tapashmajumder this issue is resolved in Xcode 13.3 with version 2 file format of SPM. I'm going to close this issue, thanks!

[2022-03-18 16:22] mrtnrst commented on #537
Actually will need to re-open, I spoke too soon here. After cleaning the local cache and resetting, I'm getting the same error again:

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/1743953/159042400-413a335a-62f4-455f-85da-80e834da6e18.png">

[2022-03-21 06:12] iosdevben commented on #523
I'm getting the same issue with release 6.4.1 if I have my scheme set to build in release mode.

[2022-03-21 06:15] iosdevben commented on #523
Same

[2022-03-21 06:17] iosdevben opened #538 "6.4.1 fails to build with scheme set to use release configuration for build"
I created a new Xcode 13.2.1 project, added the Iterable 6.4.1 package, set my scheme to use the release configuration for builds, and get the following errors when compiling:

[2022-03-31 20:10] Mturner005 commented on #537
@mrtnrst
Hello Martin. After reviewing this further it appears that this isa bug in Xcode. Xcode is supposed to be using the full url or package name as a reference to distinguish between different packages.

One thing that we've been discussing internally for some time now is to actually rename our repos. However, this is not something that we'd be able to commit to doing hastily as there are man

[2022-04-04 09:18] iAmrSalman-ibm commented on #538
I'm facing the same issue, when building using any configurations besides Debug I see those errors

[2022-04-06 19:17] pepas-everly opened #548 "Iterable fails to build using Carthage"
I'm seeing build failures when attempting to use the Iterable SDK via Carthage:

[code]

This is on an M1 mac.

[2022-04-06 20:16] pepas-everly commented on #548
Note: as an experiment, I forked this repo and bumped the all of the deployment targets to 13.6, and it then works with Carthage.

(Cartfile entry: `github "pepas-everly/swift-sdk" == 99.2`)

So for some reason, when Carthage builds, it appears the preprocessor directives aren't working correctly.  It attempts to build the SwiftUI code, but fails because the deployment target is below 13.

[2022-04-08 14:48] mrtnrst commented on #537
100% understandable it can't be an overnight thing to change. Our team is using SPM so a forked repo that we kept synced in Github helps get around this for now.

[2022-04-18 09:57] tapashmajumder commented on #548
Should be fixed with version 6.4.2. Please open a ticket with your CSM if you are still seeing issues.

[2022-04-18 09:57] #548 closed

[2022-04-18 09:57] tapashmajumder commented on #538
Should be fixed with version 6.4.2. Please open a ticket with your CSM if you are still seeing issues.

[2022-04-18 09:57] #538 closed

[2022-04-18 09:58] tapashmajumder commented on #532
Should be fixed with version 6.4.2. Please open a ticket with your CSM if you are still seeing issues.

[2022-04-18 09:58] #532 closed

[2022-04-18 09:58] tapashmajumder commented on #525
Should be fixed with version 6.4.2. Please open a ticket with your CSM if you are still seeing issues.

[2022-04-18 09:58] #525 closed

[2022-04-18 09:58] tapashmajumder commented on #498
Should be fixed with version 6.4.2. Please open a ticket with your CSM if you are still seeing issues.

[2022-04-18 09:58] #498 closed

[2022-04-26 09:09] Grimlock257 opened #552 "WebP Rich Media Support"
I've noticed when using a iOS rich media URL that refers to a `webp` image, the attachment is not shown as part of the notification, however the URL is correctly pulled down in `attachment-url` when printing the push payload to the XCode console, and changing the format of the image from `webp` to `png` (for example) works and is displayed as expected.

Is `webp` rich media a supported use case, i

[2022-05-02 20:13] Santi92 opened #553 "Get push notification metadata app closed"
How to get the open push notification metadata when the app is completely closed?

[2022-05-04 13:19] jacao commented on #552
+1

[2022-05-12 10:02] deivitaka opened #554 "Issues with CoreData"
- Reproducible in the sample app
- v6.4.2

Using argument `-com.apple.CoreData.ConcurrencyDebug 1` exceptions are thrown, and we are also having crash logs regarding misuse of the context (called from the wrong thread?)

Specifically in `CoreDataUtil::count(context:, entity:)`

Crash 1:
[code]

Crash 2:
[code]

[2022-05-12 12:00] tapashmajumder commented on #554
Thanks for brining this to our attention. We will be looking into this urgently.
To be clear, this only happens if you enable core data concurrency debug, right?

Also, how did you turn offline mode on for your project? This feature is not enabled by default.

[2022-05-12 12:38] tapashmajumder commented on #554
This is very helpful information. We are looking at this urgently. In the meantime please let us know if you would want us to turn off online mode for you.

[2022-05-13 23:08] tapashmajumder commented on #554
Hi @deivitaka  We have a PR to resolve this issue. Would you be able to test it?

https://github.com/Iterable/swift-sdk/pull/555

[2022-05-16 11:29] deivitaka commented on #554
after https://github.com/Iterable/swift-sdk/pull/555/commits/a3e0e02632637afa0ac921a485a7c4e24b2ec373 looks good

[2022-05-16 13:16] tapashmajumder commented on #554
@deivitaka Can you please try and see if this PR/branch resolves the problem you are having? If so, we will create a new release with the fixes.

[2022-05-16 13:16] tapashmajumder commented on #554
I am fixing some unit tests in the meantime.

[2022-05-16 14:17] tapashmajumder commented on #554
Thank you very much!

[2022-05-18 05:44] Cienet-Mahui opened #556 "The same request, why different results in different time periods?"
Hello, I'm sending notifications to our app with the same userid at different times, sometimes it fails and sometimes it succeeds. Can you help me find out why?
<img width="757" alt="Screen Shot 2022-05-17 at 10 05 44" src="https://user-images.githubusercontent.com/78529901/168965349-4c4dcb53-7459-477f-9eb4-d0b387ce5b13.png">
<img width="748" alt="Screen Shot 2022-05-17 at 10 05 57" src="https://u

[2022-05-18 18:14] roninopf commented on #556
Hi @Cienet-Mahui , can you contact your CSM for this? We reserve GitHub issues for bugs, in particular.

I've also told our support team to reset your API key as this is a public open source repo.

[2022-05-18 18:14] #556 closed

[2022-05-18 18:14] roninopf commented on #553
Hi @Santi92, sorry for the late response, can you contact your CSM with this question, and with more details if possible? Thanks!

[2022-05-18 18:14] #553 closed

[2022-05-18 18:17] Mturner005 commented on #556
Hello @Cienet-Mahui.  First, I'd just like to point out that you've shared an image that has an API key to your Iterable project.  There isn't really a way for us to redact your image, so I'd recommend you disable that API key ASAP in your Iterable project and start using a new one.

Also, could you please open up a support ticket: [](https://support.iterable.com/hc/en-us/requests/new) So that we

[2022-05-19 21:54] roninopf commented on #554
Hi @deivitaka, just closing this out that this is released in 6.4.3. Thanks for finding this and helping with the fix!

If any new issues come up, please feel free to open a new issue or message your CSM.

[2022-05-19 21:54] #554 closed

[2022-05-27 13:05] deivitaka opened #557 "Issues with CoreData"
Related to #554

I am sorry to reopen this, but we have new crash logs even in version 6.4.3. Testing with `ConcurrencyDebug` enabled in a sample app should be pretty reproducible.

One case of `EXC_BAD_ACCESS` happens on `CoreDataUtil:findAll`

Another has the following stack trace:
[code]

[2022-05-27 13:08] deivitaka opened #558 "Non-aligned pointer being freed"
[code]

Stack trace
[code]

[2022-05-27 18:40] tapashmajumder commented on #557
@deivitaka
I was not able to repro this but I think I know what is causing this.
Can you please try the `tapash/mob-4488-core-data` branch and see if the issue is resolved?

[2022-05-27 18:40] tapashmajumder commented on #558
@deivitaka
I was not able to repro this but I think I know what is causing this.
Can you please try the `tapash/mob-4488-core-data` branch and see if the issue is resolved?

[2022-05-30 11:35] deivitaka commented on #557
@tapashmajumder after some digging, it is reproducible all the time when trying to logout the user on the background. still happens in `tapash/mob-4458-core-data`.

![Screenshot 2022-05-30 at 13 20 09](https://user-images.githubusercontent.com/12495159/170983569-5519dcbb-3984-4846-9a93-f0599d1b1a98.png)

[2022-05-30 17:36] tapashmajumder commented on #557
Ah. I see... I missed the logout part.

[2022-05-30 18:57] tapashmajumder commented on #557
New commit in the same branch `tapash/mob-4488-core-data` should take care of this issue.

There is still something else that I am looking at for the other crash.

[2022-06-01 06:39] tapashmajumder commented on #557
Hi @deivitaka The logout bug should be fixed in the `tapash/mob-4488-core-data` branch.

Other crashes issues should also be fixed but I haven't been able to repro so I am not a 100% sure. If you have a way of reproducing other crashes it would help.

Please try out the branch and let me know. If it works for you, I will release another version of swift-sdk.

[2022-06-01 14:05] deivitaka commented on #557
@tapashmajumder the logout issue is resolved, but could not reproduce the other to tell. Just hope this is not something we find out in production with each version :/  These are a few crashlogs we have, hope they help

[1b16771fca5512a63f2e12fa625a019c9fea72b5.log](https://github.com/Iterable/swift-sdk/files/8814759/1b16771fca5512a63f2e12fa625a019c9fea72b5.log)
[38da33577a8967f67e02c2d8edff500995

[2022-06-02 16:31] tapashmajumder commented on #557
Hi @deivitaka. Thank you so much for providing the crash logs. We will try our best to resolve all issues. It is a little difficult without being able to repro these. I wish our other customers for whom we have also enabled offline mode were as proactive as you guys :)
I will check everything one more time and then make a final release.

[2022-06-04 16:10] kylebrowning opened #561 "Why is Iterable running 60+ threads?"
![image](https://user-images.githubusercontent.com/113023/172015155-55ad579b-2ef1-4708-b039-4068e00c9517.png)

[2022-06-04 17:15] tapashmajumder commented on #561
There should not be this many threads available for scheduling. Can you please add more context? Which version of SDK are you running? Is it on simulator or device? Also is anything specific being done to see this?

[2022-06-04 17:38] kylebrowning commented on #561
It was on a device crash report I downloaded from Xcode.

We're running 4.6.1

[2022-06-04 17:43] tapashmajumder commented on #561
Thanks. We are currently investigating another open issue which may be related. Can you please attach the whole crash log?

[2022-06-04 17:44] kylebrowning commented on #561
[DHwiYEUFQ1pSPRXR-Du4SL.xccrashpoint.zip](https://github.com/Iterable/swift-sdk/files/8838354/DHwiYEUFQ1pSPRXR-Du4SL.xccrashpoint.zip)

[2022-06-06 09:57] Cienet-Mahui opened #562 "Does iteable support concurrent logins from multiple devices?"

[2022-06-06 22:38] roninopf commented on #562
Hi @Cienet-Mahui, can you file a ticket with your CSM? Going through that process is more fitting for this question, and they also have resources to help answer a question like this (including our team). We would also need more specifics about what you're trying to do as implied from this question. Thanks!

[2022-06-06 22:38] #562 closed

[2022-06-08 19:19] tapashmajumder commented on #561
Hi @kylebrowning we have identified the issue and there is a fix in this branch `tapash/mob-4458-core-data`. We will be making a release shortly once the fix is merged.

[2022-06-08 19:21] kylebrowning commented on #561
Thanks!

[2022-06-08 19:22] tapashmajumder commented on #557
Hi @deivitaka  we have identified the issues and fixes are present in this branch `tapash/mob-4458-core-data`. We will be making a release shortly once the fix is merged.

[2022-06-13 17:20] tapashmajumder commented on #558
Hi. This should be fixed with release 6.4.4. Please open a ticket if this is not fixed.

[2022-06-13 17:20] #558 closed

[2022-06-14 23:31] shamilovtim opened #563 "Objective-C modules are incompatible with Objective-C++ (React Native 0.68+)"
The Iterable docs recommending using the `@import` Objective-C module syntax:
<img width="759" alt="Screen Shot 2022-06-14 at 7 28 04 PM" src="https://user-images.githubusercontent.com/3495974/173705741-496d05d8-32bc-4463-931e-53aa0be05a08.png">

Unfortunately, this is not compatible with Objective-C++ (React Native 0.68+):
<img width="778" alt="Screen Shot 2022-06-14 at 7 29 37 PM" src="https://u

[2022-06-15 06:49] leolobato opened #564 "Iterable SDK freezes the app by using too many threads on a Global Queue"
# Summary

The most frequent crash we have on our app right now is related to the Iterable SDK queuing too many blocks on a Global Dispatch Queue, which freezes the app when any part of the code tries to use a Global Dispatch Queue on the main thread.

If Iterable SDK was using its own private queue (using `DispatchQueue(label:target:)` instead of `DispatchQueue.global()`), the app wouldn't crash.

[2022-06-15 07:18] tapashmajumder commented on #564
Hi @leolobato Thank you so much for the detailed report.
This problem should be fixed with iOS SDK version `6.4.4`. Can you please check which version of iOS SDK the app is using during the crash report.

[2022-06-15 09:36] tapashmajumder commented on #564
Hi @leolobato you have a very valid question. The reason 6.4.4 will solve the threading problem is because now all scheduling work by it will be done under one persistence context in one thread. All scheduling done in IterableTaskScheduler is under `persistenceContext.perform`. Earlier every request was being handled by a separate thread.

The DispatchQueue.global() call that there is just for sch

[2022-06-15 13:00] leolobato commented on #564
Perfect. Thank you for the detailed explanation, @tapashmajumder !

In that case, I will close this issue and let you know in case we run into any problems after the update.

[2022-06-15 13:00] #564 closed

[2022-06-15 23:14] roninopf commented on #563
Thanks for reporting this @shamilovtim ! This screen shot is helpful. I'll be working on this ASAP.

[2022-06-15 23:14] #552 closed

[2022-07-15 14:36] AKhannaEpay opened #567 "Mobile App Inbox: Unable to assign viewDelegate from Objective C"
Hi Team,

We are using Objective c for our project and want to use the Mobile App Inbox in our application but we are facing below challenge with the SDK.

1) There is no API documentation on API Reference section of Mobile App Inbox website where to set the delegate in objective C

2) Can't see any other way to use or implement the Delegate for Objective C which is used for setting the viewDelega

[2022-07-15 17:56] tapashmajumder commented on #567
@AKhannaEpay Thanks for raising this issue. It appears that we missed this. I hope you have taken a look at sample-apps/inbox-customization project to see the recommended way to do inbox customization.

@roninopf Can you please take a look at this?

[2022-07-18 08:22] AKhannaEpay commented on #567
@tapashmajumder: Yes i looked the inbox customisation very well but stuck on this point as it is not supporting in Objective C. It will be very helpful if you can expedite this change for release.

Thanks

[2022-07-19 08:26] AKhannaEpay opened #568 "Unable to use Mobile App Customisation functions in Objective C"
Hi @tapashmajumder

While implementing the Mobile app customisation, we're facing difficulties to use the swift variables in objective c. Please have a look below.

[code]

[code]

Please suggest the correct way to implement the dateMapper in Objective C

Thanks

[2022-07-20 12:32] #568 closed

[2022-07-22 17:26] roninopf commented on #567
@AKhannaEpay We released 6.4.6 yesterday with this fix, can you confirm if it works for your use case? Thanks for reporting!

[2022-07-28 07:59] AKhannaEpay commented on #567
Hi @roninopf : Its working as expected. Thank you so much for expediting this release.

[2022-08-01 22:22] #567 closed

[2022-09-06 20:28] roninopf commented on #563
We've detailed a workaround fix in our docs by adding in a header file, for versions 0.68.2 to 0.69.3; versions 0.69.4+ have this issue fixed.

[2022-09-06 20:28] #563 closed

[2022-09-06 20:30] roninopf commented on #533
Closing due to age, if you feel that this is a relevant issue, I actually suggest letting your CSM know that this in particular is a feature request. Thanks!

[2022-09-06 20:30] #533 closed

[2022-09-06 20:31] roninopf commented on #537
I'll be closing this issue due to the problem being identified as a part of Xcode, as well as workarounds available. Thanks for reporting! I know this has started discussions on how we want to properly identify our repos and package naming, which I definitely will acknowledge as not consistent, at the moment.

[2022-09-06 20:31] #537 closed

[2022-09-15 16:25] deivitaka opened #576 "Crash on NetworkConnectivityChecker.checkConnectivity"
### Device info:
iPhone 13
iOS 16.0.0

[code]
### Log

[2022-09-15 16:35] deivitaka opened #577 "Issues with EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
A couple of crashes occur in OfflineRequestProcessor

### Log 1
iPhone XS Max - iOS 15.6.1

### Log 2
iPhone 11 Pro Max - iOS 16.0.0

[2022-09-22 17:59] sregg opened #578 "Xcode 14"
The SDK doesn't seem to be building with Xcode 14.0.

I'm getting this error:

[code]

<img width="1259" alt="image" src="https://user-images.githubusercontent.com/1479283/191818443-e1d38f34-a4a1-441a-8ff5-b56283d27560.png">

<img width="1259" alt="image" src="https://user-images.githubusercontent.com/1479283/191818477-3600f09f-ab8e-41fe-b4b8-b7e47d8cfe77.png">

I'm using the React Native SDK `v1.

[2022-09-22 18:20] sregg commented on #578
Nvm. I forgot to run the new Xcode app with Rosetta like I used to do with Xcode 13.

[2022-09-22 18:20] #578 closed

[2022-10-19 08:59] AKhannaEpay opened #581 "Mobile App inbox: Basic onClick message delegate is missing."
Hi Team,

We're implementing the Mobile app inbox and we are facing an issue where we didn't find any way to capture if user clicked on message or not. I request you to please help us to include this functionality or let us know in any other way we can handle it.

It will be really appreciated if this can be included as early as possible. We are actually about to release this feature in our applic

[2022-10-24 08:40] AKhannaEpay commented on #581
Any update on this?

[2022-10-26 23:12] bhawkerfetch opened #582 "Crash when accessing dictionary finishing InAppManager"
Hello,

Getting a number of user crashes in the wild in `InAppManager.finishSync()` on SDK version 6.4.7, when trying to access the ordered dictionary of messages to persist them.

This was happening occasionally in older versions of the SDK but seemingly much more now.

Looking through some of the crashes, my best lead is that this is during normal app usage (not on app startup) when a message ar